<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @h2o_re_up.companyName %>
</p>

<p>
  <strong>Simcard:</strong>
  <%= @h2o_re_up.simCard %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @h2o_re_up.phoneNumber %>
</p>

<p>
  <strong>Reupdate:</strong>
  <%= @h2o_re_up.reupDate %>
</p>

<p>
  <strong>Expirationdate:</strong>
  <%= @h2o_re_up.expirationDate %>
</p>

<p>
  <strong>Pinnumber:</strong>
  <%= @h2o_re_up.pinNumber %>
</p>

<%= link_to 'Edit', edit_h2o_re_up_path(@h2o_re_up) %> |
<%= link_to 'Back', h2o_re_ups_path %>
