  <div class:'container'>
<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">PO Number</label>
        <div class="field">
          <%= form.number_field :ponumber, id: :order_ponumber %>
        </div>
      </div>


      <div class="form-group">
        <label for="formGroupExampleInput">Customer Name</label>
        <div class="field">
          <%= form.text_field :custumer_name, id: :order_custumer_name %>
        </div>
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">E-mail</label>
        <div class="field">
          <%= form.text_field :email, id: :order_email %>
        </div>
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Payable To:</label>
        <div class="field">
          <%= form.text_field :payable, id: :order_payable %>
        </div>
</div>



<div class="form-group">
  <label for="formGroupExampleInput">Status</label>
  <div class="field">
    <%= form.select :status, [ 'Quoted','Received','Tested', 'Entered', 'Customer Approved', 'Paid' ], :prompt => 'Select One' %>
  </div>
</div>

<div class="form-group">
  <label for="formGroupExampleInput">Customer Notes</label>
  <div class="field">
    <%= form.text_field :customerNotes, id: :order_customerNotes %>
  </div>
</div>

<div class="form-group">
  <label for="formGroupExampleInput">Payment Type</label>
  <div class="field">
    <%= form.select :terms, [ 'Cash','Check','Paypal' ], :prompt => 'Select One' %>
  </div>
</div>

  <div class="actions" class="label label-default">
    <%= form.submit %>
  </div>

</div>
</div>
</form>
<% end %>
