<p id="notice"><%= notice %></p>

<p>
  <strong>Custumer name:</strong>
  <%= @order.custumer_name %>
</p>

<p>
  <strong>Ponumber:</strong>
  <%= @order.ponumber %>
</p>

<p>
  <strong>Payable:</strong>
  <%= @order.payable %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
