<p id="notice"><%= notice %></p>

<p>
  <strong>PO#:</strong>
  <%= @order.ponumber %>
</p>
<p>
  <strong>Customer Name:</strong>
  <%= @order.custumer_name %>
</p>


<p>
  <strong>E-Mail:</strong>
  <%= @order.email%>
</p>


<p>
  <strong>Payable to:</strong>
  <%= @order.payable %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>
<p>
  <strong>Payment Type:</strong>
  <%= @order.terms%>
</p>

<p>
  <strong>Customer Notes:</strong>
  <%= @order.customerNotes%>
</p>
<p>
  <strong>ExpectedDate</strong>
  <%= @order.expectedDate.strftime("%m-%d-%Y")%>
</p>
<p>
  <strong>Received Date</strong>
  <%= @order.receivedDate.strftime("%m-%d-%Y")%>
</p>
<p>
  <strong>Last Update </strong>
    <%= @order.updated_at.strftime("%m-%d-%Y") %></p>
  </p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
