<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
      <h3 class="panel-title">Invoices</h3>
      </div>

    <div class='panel-body'>
<p>
  <strong>PO#:</strong>
  <%= @order.ponumber %>
</p>
<p>
  <strong>Customer Name:</strong>
  <%= @order.custumer_name %>
</p>


<p>
  <strong>E-Mail:</strong>
  <%= @order.email%>
</p>


<p>
  <strong>Payable to:</strong>
  <%= @order.payable %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>
<p>
  <strong>Payment Type:</strong>
  <%= @order.terms%>
</p>
<p>
  <strong>ExpectedDate:</strong>
  <%= @order.expectedDate.try(:strftime,"%m-%d-%Y")%>
</p>
<p>
  <strong>Received Date:</strong>
  <%= @order.receivedDate.try(:strftime,"%m-%d-%Y")%>
</p>
<p>
  <strong>Last Updated: </strong>
    <%= @order.updated_at.try(:strftime,"%m-%d-%Y")%></p>
  </p>
  <p>
    <strong>Payment Sent On: </strong>
      <%= @order.payment_sent.try(:strftime,"%m-%d-%Y") %></p>
    </p>
      <p>
    <strong>Customer Notes:</strong>
    <%= @order.customerNotes%>
  </p>

</div>
<div class='panel-footer'>
  <div class='btn-group'>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
</div>
</div>
</div>
  </div>
</div>
