<p id="notice"><%= notice %></p>

<h1>NEXTEL ACCOUNTS</h1>
<div class="container">
  <div class="row">
     <div class="col-sm">
          <%= link_to 'New Account', new_account_path %>
        </div>
        <div class="col-sm">
          <%= button_to "Update New Accounts", action: "fetch_account_info"%>
        </div>
             <div class="col-sm">
          <%= button_to "Update Empty Balance", action: "fetch_acccount_balance"%>
        </div>
             <div class="col-sm">
          <%= button_to "Update All Accounts", action: "fetch_all_balance"%>
        </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "Customer Name"%></th>
      <th><%= sortable "Device ID"%></th>
      <th><%= sortable"Balance"%></th>
      <th><%= sortable "Expiration Date"%></th>
      <th><%= sortable "Account Status"%></th>
      <th><%= sortable "Sim Card Number"%></th>
      <th><%= sortable "Phone Number"%></th>
      <th><%= sortable "Last Updated"%></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
          <td><%= account.customerName %></td>
          <td><%= account.nickname %></td>
        <td><%= account.balance %></td>
        <td><%= account.expirationDate %></td>
        <td><%= account.accountStatus %></td>
        <td><%= account.simcardNumber %></td>
        <td><%= account.phoneNumber %></td>
        <td><%= account.updated_at %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Account', new_account_path %>
