<p id="notice"><%= notice %></p>

<h1>NEXTEL ACCOUNTS</h1>

<div class="container">
  <di v class="row">
     <div class="col-sm">
          <%= link_to 'New Account', new_account_path %>
        </div>
  
  </div>

<div class="container">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "customerName"%></th>
      <th><%= sortable "nickname"%></th>
      <th><%= sortable "balance"%></th>
      <th><%= sortable "expirationDate"%></th>
      <th><%= sortable "accountStatus"%></th>
      <th><%= sortable "simcardNumber"%></th>
      <th><%= sortable "phoneNumber"%></th>
      <th><%= sortable "updated_at"%></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.customerName %></td>
        <td><%= account.nickname %></td>
        <td><%= account.balance %></td>
        <td><%= account.expirationDate %></td>
        <td><%= account.accountStatus %></td>
        <td><%= account.simcardNumber %></td>
        <td><%= account.phoneNumber %></td>
        <td><%= account.updated_at %>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Get Balance', account, method: :fetch_single_balance, data: { confirm: 'Do you want to update balance?' }  %></td>

      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>
<%= link_to 'New Account', new_account_path %>
