<p id="notice"><%= notice %></p>

<p>
  <strong>customerName:</strong>
  <%= @account.customerName %>
</p>

<p>
  <strong>Device:</strong>
  <%= @account.nickname %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Expirationdate:</strong>
  <%= @account.expirationDate %>
</p>

<p>
  <strong>Accountstatus:</strong>
  <%= @account.accountStatus %>
</p>

<p>
  <strong>Expiredaccount:</strong>
  <%= @account.expiredAccount %>
</p>

<p>
  <strong>Simcardnumber:</strong>
  <%= @account.simcardNumber %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @account.phoneNumber %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
<br>

<%= link_to 'Add Another Account', new_account_path %>
